Source: uftp
Section: web
Priority: optional
Maintainer: Andre Pascha <andre.pascha@kwick.de>
Build-Depends: debhelper (>= 4.0.0), libssl-dev
Standards-Version: 3.6.1.0

Package: uftp
Architecture: any
Depends: ${shlibs:Depends}
Description: Encrypted UDP based FTP with multicast
 UFTP is an encrypted multicast file transfer program, designed to securely,
 reliably, and efficiently transfer files to multiple receivers simultaneously.
 This is useful for distributing large files to a large number of receivers,
 and is especially useful for data distribution over a satellite link (with two
 way communication), where the inherent delay makes any TCP based communication
 highly inefficient. The multicast encryption scheme is based on TLS with
 extensions to allow multiple receivers to share a common key. UFTP also has
 the capability to communicate over disjoint networks separated by one or more
 firewalls (NAT traversal) and without full end-to-end multicast capability
 (multicast tunneling) through the use of a UFTP proxy server. These proxies
 also provide scalability by aggregating responses from a group of receivers.
